@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>

<div class="alert alert-warning" role="alert">
    <strong>Error!</strong> Rent slip already generated for this month.
</div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
